/***********/
/* Content */
/***********/
/* Allgemein */
.clear,
.clearer {
    clear: both;
}
/* Zitate */
#main blockquote.mod {
    clear: both;
}
#main blockquote.mod cite {
    display: block;
    padding-left: 0;
    padding-top: 20px;
    font-size: 70%;
}
div.contactData{
  font-size: 150%;
  line-height: 1.4em;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
#main .teaser .sectionRelated {
    clear: both;
    margin-top: 20px;
}
#main .abstract p {
    font-family: 'BundesSansWebBold',Arial,Helvetica,sans;
}
/* Sperrfrist- und Unter2-Icons */
.unter2 {
    display: block;
    padding-left: 30px;
}
a.unter2,
p.unter2 {
    background: url(/SiteGlobals/StyleBundles/Webs/Cvd/Bilder/icon_unter2.gif?__blob=normal&v=2) 0 1px no-repeat;
}
p.unter2 {
    background-position: 0 4px;
}
img.cvdicon {
    float:left;
    padding-left:0;
    padding-right: 10px;
}
/* Thementeaser */
#content .tg-2-cols .teaser.onecol {
    width:100%;
}
/* Listen */
#main ul.no-list-style {
    list-style-type: none;
    margin-left: 0;
}
/* Downloads */
#main .downloadLink,
#supplement .downloadLink,
#main p.shoppingCartAdd,
#supplement p.shoppingCartAdd
 {
    float: left;
    width: 11.25em;
    background: url(/SiteGlobals/StyleBundles/Bilder/Farbschema/sprite-file-types.png?__blob=normal&v=3) 0 6px no-repeat;
    margin-right: 24px;
    padding-left: 36px;
    font-size: 160%;
    font-weight: bold;
    font-family: 'BundesSansWebBold', Arial, Helvetica, sans;
}
#main .downloadLink.xls {
    background-position: 0 -145px;
}
#main .downloadLink.doc {
    background-position: 0 -295px;
}
#main .downloadLink.ppt {
    background-position: 0 -445px;
}
#main .downloadLink.zip {
    background-position: 0 -595px;
}
#main .downloadLink.img {
    background-position: 0 -745px;
}
#main .downloadLink.mp4 {
    background-position: 0 -1045px;
}
#main .downloadLink.wmv {
    background-position: 0 -895px;
}
#main .downloadLink.flv,
#main .downloadLink.m4v,
#main .downloadLink.mp2,
#main .downloadLink.rm,
#main .downloadLink.rss {
    background-position: 0 -1195px;
}
#main .downloadLink.mp3 {
    background: url(/SiteGlobals/StyleBundles/Bilder/Farbschema/sprites-icons.png?__blob=normal&v=5) 0 -5395px no-repeat;
}
#content p.shoppingCartAdd
{
    width: 8.5em;
    background: url(/SiteGlobals/StyleBundles/Bilder/Farbschema/sprites-icons.png?__blob=normal&v=5) 0 -3994px no-repeat;
    margin-right: 0;
}
p.downloadLink span,
p.shoppingCartAdd span {
    display: block;
    color: #767676;
    font-size: 80%; /* 12px */
    font-weight: normal;
    line-height: 1.1em;
    font-family: 'BundesSansWeb', Arial, Helvetica, sans;
}
p.downloadLink a:hover,
p.downloadLink a:active,
p.downloadLink a:focus,
p.shoppingCartAdd a:hover,
p.shoppingCartAdd a:active,
p.shoppingCartAdd a:focus {
    color: #373737;
}
/* Scrolllinks */
.scrollLinks {
    font-size: 150%;
}
.scrollLinks .forward {
    float: right;
}
.scrollLinks .firstForward {
    margin-bottom: 1em;
}
.scrollLinks .start {
    float: left;
    margin: 0.3em 0 0 40%;
}
.scrollLinks .start .first {
    padding: 2em;
}
.scrollLinks .back {
    float: left;
}
.scrollLinksFirst, .scrollLinks {
    height: 2em;
    margin: 1em 0;
    text-align: center;
}
.tableOfDocuments {
    padding-left: 0;
}
.scrollLinks a:hover,
.scrollLinks a:active,
.scrollLinks a:focus,
.scrollLinks strong {
    background: #004F80;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-weight: normal;
}
.scrollLinks a.startLink:hover,
.scrollLinks a.startLink:active,
.scrollLinks a.startLink:focus,
.tableOfDocuments a:hover,
.tableOfDocuments a:active,
.tableOfDocuments a:focus {
    background: none;
    color: #373737;
}
.scrollLinks .forward,
.scrollLinks .back {
    margin-top: 1px;
    width: 40px;
}
.scrollLinks .forward {
    margin-left: 10px;
}
.scrollLinks .back {
    margin-right: 10px;
}
.scrollLinks .forward a,
.scrollLinks .back a {
    text-indent: -9999em;
    width: 24px;
    height: 24px;
    background: url(/SiteGlobals/StyleBundles/Bilder/Farbschema/paging-forward.png?__blob=normal&v=2) 0 0px no-repeat;
    padding: 0;
    display:block;
}
.scrollLinks .back a {
    background: url(/SiteGlobals/StyleBundles/Bilder/Farbschema/paging-back.png?__blob=normal&v=2) 0 0 no-repeat;
    border-bottom: none;
}
.scrollLinks .forward a:hover,
.scrollLinks .forward a:active,
.scrollLinks .forward a:focus,
.scrollLinks .back a:hover,
.scrollLinks .back a:active,
.scrollLinks .back a:focus {
    background: url(/SiteGlobals/StyleBundles/Bilder/Farbschema/paging-forward.png?__blob=normal&v=2) 0 -24px no-repeat;
}
.scrollLinks .back a:hover,
.scrollLinks .back a:active,
.scrollLinks .back a:focus {
    background: url(/SiteGlobals/StyleBundles/Bilder/Farbschema/paging-back.png?__blob=normal&v=2) 0 -24px no-repeat;
}
/* Bilderstrecken */
#content .article-teaser-switcher .teaser .source {
    font-size: 120%;
}
/*********/
/* Stage */
/*********/
.mod .nav-pageposition ol li.first-level a span,
.mod .nav-pageposition ol li.first-level strong span {
  width: 14em;
}
.stage-wrapper em {
    display: none;
}
/*********/
/* Suche */
/*********/
#supplement .Box-SearchResults {
    padding-top:22px;
}
#searchResult ol {
    margin: 0 30px 30px 0;
}
#supplement .filter .box p {
    font-size: 100%;
    padding-bottom: 0;
}
.searchString {
    background: #004F80;
    color: #fff;
    font-style: italic;
    font-weight: normal;
}
#searchResult li h3 .searchString {
    color: #fff;
    display: inline;
    text-transform: none;
    font-family: 'BundesSansWeb',Arial,helvetica,sans-serif;
    font-size: 100%;
}
/*************/
/* Formulare */
/*************/
#main .noborder {
    border: none;
    padding: 0;
}
/* Fehlermeldungen als Blockelemente */
.formError,
.formError  * {
    display:block;
    margin-bottom: .5em;
}
h4 label {
    font-size: 100%;
}
/* einzeilige Formulare */
#main fieldset.singlerow p {
    padding-bottom: 0;
}
#main fieldset.singlerow fieldset {
    float:left;
    border:none;
    margin-right: 10px;
    padding: 0;
}
fieldset.singlerow input,
fieldset.singlerow textarea,
fieldset.singlerow select {
    width:10em;
}
fieldset.singlerow input.datepicker {
    width:5em;
    float:left;
}
fieldset.singlerow .formLabel,
fieldset.singlerow .formField {
    float:left;
    clear:none;
}
fieldset.singlerow .formField {
    width:auto;
}
.ui-datepicker-trigger {
    cursor: pointer;
    padding-left: 5px;
}
.hidelbl label {
    text-indent: -9999em;
}
input.checkbox {
    width:auto;
}
#main .form-col-expandable label {
    float: none;
}
#supplement fieldset.nolabel {
    background: none;
}
.readOnly input {
    color: #666;
}
*+html .until input {
    float:left;
}
/******************/
/* Einzelansichten */
/******************/
#content .herausgeber {
    color: #890D48;
    display: block;
    font-family: 'bundes-sans',Arial,Helvetica,sans;
    font-size: 180%;
    font-style: normal;
    margin-bottom: -5px;
    text-transform: uppercase;
}
.text h2,
.text h3,
.text h4,
.text h5 {
    clear:none;
}
/* Infodienst */
#main .text.infodienst h1 {
    font-size: 150%;
    font-family: 'BundesSansWebBold',Arial,Helvetica,sans;
}
#main .text.infodienst .abstract p {
    font-size: 260%;
    font-family: 'BundesSansWeb',Arial,Helvetica,sans;
}
/***************/
/* Supplement */
/***************/
#supplement h2 {
  position:relative;
}
#supplement .links li li {
    font-size: 100%;
}
#supplement .links li a.sign-language {
    background: url(/SiteGlobals/StyleBundles/Bilder/Farbschema/icon_sign-language.png?__blob=normal&v=1) 0 50% no-repeat;
    padding-left: 17px;
}
#supplement .journeyNav li.station {
    font-size: 100%;
    border-top: none;
}
#supplement .journeyNav li.reports  {
    margin-bottom: 10px;
}
#supplement .journeyNav li.reports li {
    font-size: 90%;
}
#supplement .journeyNav li h5 {
    border-left: 8px solid #ccc;
    padding-left: 5px;
}
#supplement .journeyNav .links li {
    padding: 4px 0;
}
#supplement .journeyNav .links li a {
    padding: 0 0 0 13px;
    background-position: 0 -3597px;
}
#supplement .box-teaser.banner-breit .box,
#supplement .box-teaser.banner-breit img {
    height: auto;
}
#supplement .box-teaser.banner-breit h3,
#supplement .box-teaser.banner-breit ul {
    padding: 5px;
}
/* Kontext */
#supplement .context {
    font-size: 160%;
}
#supplement .context a {
    display: block;
    background: url(/SiteGlobals/StyleBundles/Bilder/Farbschema/sprites-icons.png?__blob=normal&v=5) 0 -3592px no-repeat;
    padding:4px 0 4px 13px;
}
#supplement .boxWrapper p.date {
    font-size: 110%;
}
#supplement .boxWrapper p strong.more a {
    display: block;
    background: url(/SiteGlobals/StyleBundles/Bilder/Farbschema/sprites-icons.png?__blob=normal&v=5) 2px -3591px no-repeat;
    padding: 6px 10px 6px 15px;
}
#supplement .boxWrapper p strong.more a:hover,
#supplement .boxWrapper p strong.more a:active,
#supplement .boxWrapper p strong.more a:focus {
 background-position: 2px -3791px;
 color: #373737;
}
/***************/
/* Footer */
/***************/
ul#navFunctions li#navFunctionsRecommend strong {
    display: block;
    width: 3.7em;
    height: 2.7em;
    background: url(/SiteGlobals/StyleBundles/Bilder/Farbschema/sprites-icons.png?__blob=normal&v=5) 50% -1800px no-repeat;
    text-indent: -9999em;
    color: #fff;
}
.hinweis {
    background-color:#EEEEED;
    display: block;
    padding: 1em;
}
.supplementImage {
margin-bottom:15px;
}
#siteInfo div.last ul li {
  margin: 0 0 5px;
}
/****** Gallery ******/
.gallery-stage {
    height: 0;
    width: 0;
}
.showGalleryContent {
    height: auto;
    width: 62em;
}
.gallery .gallery-stage {
    border-bottom: 0;
}
.gallery .article-teaser-switcher {
    border-bottom: 2px dotted #CDCDCD;
}
/* Buehne */
#stage.navServiceShoppingCart {
    height: 13em;
}
#stage .teaser.hide {
    display:none;
}
#stage .teaser-wrapper .teaser .imageContainer {
overflow:hidden;
width:649px;
}
#stage .teaser img {
height:auto;
}
#supplement .boxWrapper .stoerer {
background:none;
padding-left:0;
}
#main .basePageNavigation {
    float:right;
    font-size:130%;
    list-style:none outside none;
    margin:0 auto;
    padding-top:1em;
    padding-bottom:1em;
}
#main .basePageNavigation li {
   float:left;
   font-size:100%;
   margin:0 0.5em;
   padding:0.2em 0.3em;
}
#main .basePageNavigation li.nextPage {
   margin:0em;
}
#main .basePageNavigation .prevPage, #main .basePageNavigation .nextPage {
background-color:#004F80;
}
#main .basePageNavigation a {
    color:#FFFFFF;
    font-size:100%;
}
.teaser-switcher .next span,
.teaser-switcher .prev span {
 top: 5em;
}
#supplement .main-topic-navigation {
    position: relative;
    top: 0em;
    right: 0;
    z-index: 1;
    width: 31.7em;
    margin-top:-8.5em;
   padding-bottom:2em;
}
#supplement .main-topic-navigation h3 {
 background: #373737 url(/SiteGlobals/StyleBundles/Bilder/Farbschema/sprites-icons.png?__blob=normal&v=5) 97% -384px no-repeat;
    margin: 0;
    padding: 12px 40px 12px 10px;
    text-transform: uppercase;
    color: #fff;
 font-size: 160%;
    font-family: 'BundesSansWebBold', Arial, Helvetica, sans;
    font-weight: bold;
}
/* Besondere Hinweise */
.advice {
    position: relative;
    background: #EEEEED;
    padding: 20px;
    margin-bottom:20px;
}
.advice p {
    color: #000;
    text-decoration: none;
    font-family: 'BundesSansWeb',Arial,Helvetica,sans;
}
.advice h2 {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 200%;
    font-weight: normal;
    line-height: 1.3em;
    margin-bottom: 20px;
}
.advice h2 em {
    display: block;
    background: #890d48 url(/SiteGlobals/StyleBundles/Bilder/Farbschema/teaser-today-arrow-grey.gif?__blob=normal&v=1) 100% -34px no-repeat;
    margin: 25px 0 0 -20px;
    padding: 0 30px 0 0;
    font-size: 80%; /* 13px */
    text-transform: uppercase;
    text-align: right;
    font-style: normal;
    font-family: 'BundesSansWebBold',Arial,Helvetica,sans;
}
.advice h2 em span {
    display: block;
    padding: 4px 0;
}
/* Banner */
#supplement .box-teaser-no-img .box,
#supplement .box-teaser-no-img p.picture img {
    height:auto;
}
#supplement .box-teaser p.picture,
#supplement .box-teaser p.picture img {
    width: 150px;
}
#supplement .box-teaser .box {
    height: 20em;
}
#supplement .box-teaser.box-teaser-no-img .box,
#supplement .box-teaser.request-box .box {
    height: auto;
}
/* Glossar */
.paging.fnone {
    float: none;
}
#main .paging.fnone ul {
    float: none;
}
/* Infoboxen */
.text .box,
.embedded {
    overflow:hidden;
    background:#EEEEED;
    padding: 1em;
    margin: 20px 0;
}
.embedded .box {
    padding: 0;
    margin: 0;
}
#content .text .box .source,
#content .text .box .caption {
    display:none;
}
/* Eingebettete Dokumente */
#content .embedded .mediaAdditionals {
    border-top: 0;
    padding-top: 0;
}
#content .embedded.video .mediaAdditionals {
    float: right;
    width: 42%;
}
#content .embedded.video .mediaAdditionals .left {
    width: 100%;
}
.video-center object {
    display: block;
    margin: 0 auto;
}
#content .embedded .mediaAdditionals ul {
    margin-bottom: 0;
}
#main .embedded.publication p.downloadLink {
    width:auto;
    padding-bottom: 0;
}
.embedded .more a {
    background: url(/SiteGlobals/StyleBundles/Bilder/Farbschema/sprites-icons.png?__blob=normal&v=5) no-repeat scroll 2px -3588px transparent;
    display: block;
    padding: 6px 10px 6px 15px;
    font-style: normal;
}
/* Kontextbox unter Artikel in Subsite A */
.sectionRelated .kontextbox a {
    background: url(/SiteGlobals/StyleBundles/Bilder/Farbschema/sprites-icons.png?__blob=normal&v=5) no-repeat scroll 0 -3594px transparent;
    display: block;
    padding: 0 0 0 13px;
    font-size: 160%;
    line-height: 1.4em;
}
.sectionRelated .kontextbox {
    margin: 20px 0;
}
/* Layout Unterseite nur Content */
#wrapperContent.contentOnly {
    width: 100%;
}
#wrapperContent.contentOnly #content {
    border-right: none;
    width: 100%;
}
#wrapperContent.contentOnly #main {
    float: none;
    width: 100%;
}
/* Mediathek */
#content .mediathek .medialist td a strong {
    color: #004F80;
    font-size: 100%;
    font-family: 'BundesSansWeb',Arial,helvetica,sans-serif;
}
#content .mediathek .medialist td {
    vertical-align: middle;
    padding: 8px;
    border-bottom: 1px dotted #CDCDCD;
}
#content .mediathek .medialist td.even {
    background: url(/SiteGlobals/StyleBundles/Bilder/Farbschema/bg-pictures.png?__blob=normal&v=2) 0 0 repeat;
}
/* Buehne */
.teaser-wrapper .video-overlay {
    display: block;
    position: absolute;
    left: 290px;
    top: 136px;
    width: 68px;
    height: 68px;
    background: url(/SiteGlobals/StyleBundles/Bilder/Farbschema/video-overlay-2.png?__blob=normal&v=2) 50% 50% no-repeat;
    cursor: pointer;
}
/* Veranstaltung Typ */
#content .text p.type {
    color: #890D48;
    font-family: 'BundesSansWebBold',Arial,Helvetica,sans;
    font-size: 120%;
    padding: 0;
    text-transform: uppercase;
}
#content table.auto {
    table-layout: auto;
}
/* Bild in Einzelansicht mit voller Breite */
#content p.picture.fullwidth {
    float: none;
}
/* Glossar-Popup */
#popup #wrapperDivisions {
    margin: 0;
}
#popup #wrapperContent {
    width: 95%;
    margin: 0;
    padding: 1em;
}
#popup #wrapperContent #content,
#popup #wrapperContent #main {
    width: 100%;
}
#popup #wrapperContent #content {
    border-right: none;
}
#popup #wrapperContent #main {
    padding-top: 0;
}
/******  Webshop ******/
#brochure span {
 overflow: hidden;
 font-size: 100%;
 list-style: none;
}
#brochure span.first {
 border-top: none;
 padding-top: 0;
}
#brochure span h2 {
 clear: none;
 font-size: 180%;
 line-height: 1.3em;
 font-family: 'BundesSansWebBold', Arial, Helvetica, sans;
}
#brochure span h2 a {
 color: #373737;
}
#brochure span h2 a:hover,
#brochure span h2 a:active,
#brochure span h2 a:focus {
 color: #004F80;
}
#brochure span h2 em {
 display: block;
 padding: 1px 0 2px 0;
 font-size: 60%; /* 12px */
 font-style: normal;
 text-transform: uppercase;
 line-height: 1em;
 color: #890D48;
}
#brochure span div {
 float: left;
 width: 42em;
}
#brochure span p {
 font-size: 150%;
 line-height: 1.4em;
 padding-bottom: 0px;
}
#brochure p.dokumentLink {
 font-size: 150%;
 line-height: 1.4em;
 padding-bottom: 20px;
}
#brochure p.aboLink {
 font-size: 150%;
 line-height: 1.4em;
 padding-bottom: 0px;
padding-top: 15px;
float: left;
}
#brochure span p.picture {
 float: left;
 width: 17.6em !important;
 border: none;
 margin: 0 20px 10px 0;
 text-align: center;
 font-size: 100%;
}
#brochure span p.metaData {
 margin: 0 0 20px 0;
}
#brochure span p.downloadLink,
#brochure span p.shoppingCartAdd {
 float: left;
 width: 11.25em;
 background: url(/SiteGlobals/StyleBundles/Bilder/Farbschema/sprite-file-types.png?__blob=normal&v=3) 0 6px no-repeat;
 margin-right: 24px;
 padding-left: 36px;
 font-size: 160%;
 font-weight: bold;
 font-family: 'BundesSansWebBold', Arial, Helvetica, sans;
}
#brochure span p.shoppingCartAdd,
#content a.shoppingCardLink {
 width: 8.5em;
 background: url(/SiteGlobals/StyleBundles/Bilder/Farbschema/sprites-icons.png?__blob=normal&v=5) 0 -3994px no-repeat;
 margin-right: 0;
}
#content a.shoppingCardLink {
 padding: 8px 10px 4px 33px;
}
#brochure span p.videoAdd,
#content a.videoLink {
 width: 8.5em;
 background: url(/SiteGlobals/StyleBundles/Bilder/Farbschema/video-icon-ts.png?__blob=normal&v=2) 0 0 no-repeat;
 margin-right: 0;
}
#content a.videoLink {
 padding: 8px 10px 4px 33px;
}
#brochure span p.downloadLink span,
#brochure span p.shoppingCartAdd span {
 display: block;
 color: #767676;
 font-size: 80%; /* 12px */
 font-weight: normal;
 line-height: 1.1em;
 font-family: 'BundesSansWeb',Arial,Helvetica,sans;
}
#brochure span p a:hover,
#brochure span p a:active,
#brochure span p a:focus {
 color: #373737;
}
#main .singleview form fieldset.webshop .text h1
{
  font-size: 160%;
}
#main .singleview form fieldset.webshop .text p
{
  font-size: 130%;
}
#main .singleview form fieldset.webshop fieldset.first
{
border-bottom: none;
}
#main .singleview form fieldset.webshop fieldset.first h2
{
width: 31em;
}
/* Header als TopLine */
#content .headerTopLine h3 em {
    color: #890D48;
    display: block;
    font-family: 'BundesSansWebBold',Arial,Helvetica,sans;
    font-size: 80%;
    font-style: normal;
    margin-bottom: -2px;
    text-transform: uppercase;
}
/* Foto des Jahres */
.teaser-switcher .teaser h3, .home #content .teaser-switcher .teaser h3, #content .teaser-group .teaser-switcher .teaser h3 {
    margin: 10px 0 5px;
}
.gallery .pageNavigation a {
    background: url("/SiteGlobals/StyleBundles/Bilder/Farbschema/sprites-icons.png?__blob=normal") no-repeat scroll 0 -3197px transparent;
    float: right;
    font-size: 140%;
    padding-left: 11px;
}
.gallery .pageNavigation {
    margin: 0 0 20px;
    overflow: hidden;
}
/* Fix für Hintergrund-Content-Problem */
#wrapperContent #content {
    background: #fff;
}
/* Pagination im Webshop-Bereich */
#brochures .paging li {
  border-top: medium none;
  overflow: auto;
  padding: 0;
}
/* Anpassung Webshop Style-Unterüberschrift */
#content #brochures li div h3{
    clear: both;
    font-family: 'BundesSerifWeb',Georgia,Times New Roman,serif;
    font-weight: normal;
    font-size: 160%;
    line-height: 1.3em;
    margin: 0 0 10px;
    color: #767676;
    padding: 0 0 8px;
}
/* Styles für das Glossar-Accordion */
#glossaryAccordion {
    margin-right: 25px;
}
.accordion-group {
    border-top: 1px dotted #CDCDCD;
    margin: 0 0 30px;
}
.accordion-group .accordion-heading a {
    /*border-top: 2px dotted #CDCDCD;*/
    margin: 0;
    padding: 5px 0;
    color: #333333;
    font-size: 2.2em;
    display: block;
}
.js-on .accordion-group .accordion-heading a {
    background: url(/SiteGlobals/StyleBundles/Bilder/Farbschema/sprites-icons.png?__blob=normal&v=5) no-repeat scroll 100% -2594px transparent;
    cursor: pointer;
    outline: medium none;
    padding-right: 40px;
}
.js-on .accordion-group .accordion-heading a.js-selected {
    background-position: 100% -2794px;
}
.js-on .accordion-group .accordion-heading a.ui-disabled {
    cursor: default;
}
.js-on .accordion-group .accordion-heading a:hover, .js-on .accordion-group .accordion-heading a.a11y-focus-key {
    text-decoration: underline;
}
.accordion-body {
    padding: 10px 0;
}
.accordion-body.open {
   display: block !important;
}
.accordion-body.close {
   display: none;
}
.accordion-body .links h3 {
    color: #993748;
    font-size: 180%;
}
#main .accordion-body .links ul {
    margin: 0;
}
#main .accordion-body .links li {
    font-size: 160%;
    list-style: none outside none;
    margin: 0 0 20px;
}
.accordion-body .links a {
    background: url(/SiteGlobals/StyleBundles/Bilder/Farbschema/sprites-icons.png?__blob=normal&v=5) no-repeat scroll 0 -2991px transparent;
    display: block;
    padding: 0 0 0 25px;
}
.accordion-body .links a:hover, .accordion-content .links a:active, .accordion-content .links a:focus {
    color: #373737;
}
.accordion-body .links a em {
    color: #767676;
    display: block;
    font-size: 87.5%;
    font-style: normal;
    line-height: 1em;
    padding: 2px 0 0;
}
/* BPAINT-61 */
#supplement .box-teaser.box-title-only .teaserText {
    padding: 20px 15px;
}
#supplement .box-teaser.box-title-only .teaserText h3 {
    margin-bottom: 0;
}
/* Hangout Gaestebuch */
.guestbook #searchResult ol {
    margin: 0;
}
.guestbook #searchResult li {
    padding: 1em;
}
.guestbook #searchResult .even {
    overflow:hidden;
    background:#EEEEED;
    margin: 20px 0;
}
.guestbook .pW-mod {
    margin-top: 0;
}
/* Autocomplete */
.ui-autocomplete {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 6px 6px 6px 6px;
    float: left;
    padding: 6px 1.5em;
    z-index: 100000 !important;
}
.ui-autocomplete li a {
    color: #373737;
    display: block;
    font-family: 'BundesSansWebBold',Arial,Helvetica,sans-serif;
    font-size: 140%;
}
.ui-autocomplete li {
    border-bottom: 1px solid #EBEBEB;
    color: #FFFFFF;
    cursor: pointer;
    float: none;
    list-style: none outside none;
    margin: 0;
    padding: 6px 0;
}
.ui-autocomplete li:last-child {
    border: medium none;
}
.ui-autocomplete li.last-child {
    border: medium none;
}
.ui-autocomplete li a.ui-state-hover {
    color: #373737!important;
    background: inherit;
}
/*Unterstreichungen Pfeiltastennavigation*/
.ui-menu .ui-menu-item .ui-state-hover{
         text-decoration:underline;
} 
/*BPAINT-211 Abstand des Suchformular in Marginalspalte nach oben verringern*/
#wrapperContent #supplement{
    padding-top:0px;
}
#supplement .boxWrapper.filter{
   margin-top:20px;
}
 /*Schwerpunktnavigation angleichen*/
#supplement .main-topic-navigation{
   margin-top:-5.6em;
   padding-bottom:0;
}
#supplement .boxWrapper.box-teaser{
    margin-top:20px;
}

/*Webshop Download-Hinweis -> Telko mit Michael*/
#brochures .downloadHint, #brochure .downloadHint{
   font-size:150%;
   line-height:1.4em;
   width:28em;
}

#brochures .downloadHint{
  margin: 0.5em 0 0.5em 0;
