#content .mediathek form:after {
    content: " ";
    clear: both;
    display: block;
}
.mediathekContent {
 width: 62em;
}
/* Tabs */
.mediathek .tabNavi {
 position: relative;
 overflow: hidden;
 margin-bottom: 20px;
}
#content .mediathek  .toc {
 margin-bottom: 0;
}
/* Layout Icons */
.viewSwitch {
 position: absolute;
 right: 18px;
 top: 2px;
}
.viewSwitch li {
 float: left;
 margin: 0 0 0 2px;
 list-style: none;
}
.viewSwitch li a,
.viewSwitch li span { /* Standard */
 display: block;
 overflow: hidden;
 background: url(../img/sprites-icons-mediathek.png) 50% 5px no-repeat;
 width: 18px;
 height: 10px;
 padding: 5px 10px;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 border-radius: 3px;
 text-indent: -9999em;
}
.viewSwitch li span.active,
.viewSwitch li a:hover,
.viewSwitch li a:active,
.viewSwitch li a:focus {
 background-color: #373737;
 background-position: 50% -95px;
}
.viewSwitch li.coverflow a {
 background-position: 50% -195px;
}
.viewSwitch li.coverflow span.active,
.viewSwitch li.coverflow a:hover,
.viewSwitch li.coverflow a:active,
.viewSwitch li.coverflow a:focus {
 background-position: 50% -295px;
}
.viewSwitch li.listview a {
 background-position: 50% -395px;
}
.viewSwitch li.listview span.active,
.viewSwitch li.listview a:hover,
.viewSwitch li.listview a:active,
.viewSwitch li.listview a:focus {
 background-position: 50% -495px;
}
.viewSwitch li span {
 background-position: 50% -595px;
}
.viewSwitch li.coverflow span {
 background-position: 50% -695px;
}
.viewSwitch li.listview span {
 background-position: 50% -795px;
}
/* Search Form */
#content .mediathek form {
 overflow: hidden;
    height: 1%;
 border-bottom: 2px dotted #CDCDCD;
}
#content .mediathek fieldset {
 float: right;
 width: 28%;
 border: none;
}
* html #content .mediathek fieldset {
 overflow: hidden;
}
#content .mediathek fieldset.first {
 float: left;
 width: 72%;
}
#content .mediathek fieldset h2,
#content .mediathek .formLabel label{
 font-weight: bold;
}
#content .mediathek input {
 width: 11em;
 margin: 0;
}
#content .mediathek .form-col input {
 width: auto;
 margin-right: 3px;
 margin-top: 2px;
}
#content .mediathek .formHandle input {
 width: auto;
}
#content .mediathek fieldset p {
 padding: 0 0 10px 0;
}
/* Teaser */
#content .mediathek .teaser {
 display: inline-block;
 float: none;
 vertical-align: top;
 overflow: hidden;
 width: 17.5em;
 margin-right: 1em;
    margin-left: -3px;
 margin-bottom: 20px;
 padding: 10px 10px 15px 10px;
}
*+html #content .mediathek .teaser {
 display: inline;
}
* html #content .mediathek .teaser {
 display: inline;
 padding-left: 0px;
 padding-right: 0px;
 width: 19.5em;
 margin-left: 0;
 zoom: 1;
}
#content .mediathek .teaser a {
 display: block;
}
#content .mediathek .teaser.hover-clickarea {
 background: #f6f6f6;
 cursor: pointer;
}
#content .mediathek .teaser-box {
 clear: both;
}
#content .mediathek .teaser em {
 display: block;
    color: #890D48;
 font-size: 120%;
    font-style: normal;
    font-family: 'BundesSansWebBold', Arial, Helvetica, sans;
 text-transform: uppercase;
}
#content .mediathek .teaser h2 {
 padding-top: 10px;
 font-size: 160%;
}
#content .mediathek .teaser.hover-clickarea h2 a {
 color: #004f80;
}
#content .mediathek .teaser p {
 font-size: 150%;
    line-height: 150%;
}
#content .mediathek .teaser em.more {
    color: #004F80;
 font-size: 80%;
    font-family: Arial, Helvetica, sans;
 text-transform: none;
}
#content .mediathek .teaser em.more a {
    margin: 0;
}
#content .mediathek .teaser .rubrikFooter a {
 background: url(../img/sprites-icons.png) no-repeat scroll 0 -3197px transparent;
 padding-left: 12px;
 font-size: 150%;
}
#content .mediathek span.date {
 display: block;
 padding-top: 10px;
 font-size: 120%;
 color: #767676;
}
#content .mediathek .standardBox {
 zoom: 1;
}
/* Teaser Wide */
#content .mediathek .wide {
 width: 97%;
 border-bottom: 2px dotted #CDCDCD;
 margin-right: 0;
 margin-top: 15px;
    margin-bottom: 25px;
 padding-bottom: 30px;
}
* html #content .mediathek .wide {
 width: 100%;
}
#content .mediathek .wide .teaser-box {
 clear: none;
}
#content .mediathek .wide h2 {
 padding-top: 0;
 font-size: 220%;
}
#content .mediathek .wide h2 a {
 color: #004F80;
}
#content .mediathek .wide h2 a:hover,
#content .mediathek .wide h2 a:active,
#content .mediathek .wide h2 a:focus {
 text-decoration: underline;
}
/* Paging */
.mediathek .pagingWrapper {
 clear: both;
 background: none;
    margin-top: 0;
}
.mediathek .paging {
 width: 62em;
 border-bottom: 2px dotted #CDCDCD;
 padding: 15px 0 12px 0;
}
.mediathek .pW-mod .paging {
 border-bottom: none;
 border-top: 2px dotted #CDCDCD;
}
.mediathek .paging h3 {
 padding-top: 3px;
 font-size: 150%;
}
/* Listview */
#content .mediathek .medialist {
 background: none;
 margin: 0 0 40px 0;
 font-size: 100%;
}
.mediathek .medialist col.image {
 width: 70px;
}
.mediathek .medialist col.title {
 width: auto;
}
.mediathek .medialist col.date {
 width: 120px;
}
#content .mediathek .medialist th {
 border: none;
 border-bottom: 10px solid #fff;
 background: url(../img/bg-pictures.png) repeat scroll 0 0 transparent;
 padding: 6px 0;
 font-size: 150%;
}
#content .mediathek .medialist td {
 background: none;
 border-bottom: none;
 padding: 2px 8px 8px 0;
 font-size: 150%;
}
#content .mediathek .medialist td a strong {
 display: block;
 margin: -4px 0 0 0;
 font-family: 'BundesSerifWeb',Georgia,Times New Roman,serif;
 font-size: 120%; /* 18px */
 font-weight: normal;
 color: #435050;
 line-height: 1.3em;
}
#content .mediathek .medialist td a:hover strong,
#content .mediathek .medialist td a:active strong,
#content .mediathek .medialist td a:focus strong {
 color: #004F80;
}
#content #main.mediathek .medialist td p {
 margin-top: -5px;
}
/* Detailview */
.mediathek .pageNavigation {
 overflow: hidden;
 margin: 0 0 20px 0;
}
.mediathek .pageNavigation a {
 float: right;
 background: url(../img/sprites-icons.png) 0 -3197px no-repeat;
 padding-left: 11px;
 font-size: 140%;
}
.mediathek .pageNavigation a:hover,
.mediathek .pageNavigation a:active,
.mediathek .pageNavigation a:focus {
 text-decoration: underline;
}
#content .mediaAdditionals {
 border-top: 2px dotted #CDCDCD;
 padding-top: 20px;
}
#content .mediaAdditionals .left,
#content .mediaAdditionals .right {
 float: left;
 width: 49%;
 text-align: left;
}
.mediaAdditionals h4 {
    font-family: 'BundesSansWebBold',Arial,Helvetica,sans;
    font-size: 150%;
    text-transform: uppercase;
}
#content .mediaDetail .text {
 padding: 0;
}
#content .mediaDetail span.date {
 margin-bottom: -10px;
 padding-top: 15px;
 font-size: 80%;
}
.mediaAdditionals div.tips,
.mediathek a.flash {
 display: block;
 clear: both;
 border-top: 2px dotted #CDCDCD;
 padding-top: 5px;
 padding-bottom: 15px;
 font-size: 120%;
 color: #767676;
 text-align: right;
}
#content .mediaAdditionals ul {
 margin-left: 0;
}
#content .mediaAdditionals li {
 list-style: none;
 padding: 0 0 10px 0;
 font-size: 140%;
}
.mediaAdditionals li a {
 display: block;
 background: url(../img/sprite-file-types.png) 0 -1200px no-repeat;
 color: #004F80;
 padding: 4px 0 4px 37px;
}
.mediaAdditionals li a:hover,
.mediaAdditionals li a:active,
.mediaAdditionals li a:focus {
 text-decoration: underline;
}
.mediaAdditionals li.pdf a {
 background-position: 0 0;
}
.mediaAdditionals li.xls a {
 background-position: 0 -150px;
}
.mediaAdditionals li.doc a {
 background-position: 0 -300px;
}
.mediaAdditionals li.ppt a {
 background-position: 0 -450px;
}
.mediaAdditionals li.zip a {
 background-position: 0 -600px;
}
.mediaAdditionals li.img a {
 background-position: 0 -750px;
}
.mediaAdditionals li.mp4 a {
 background-position: 0 -1050px;
}
.mediaAdditionals li.wmv a {
 background-position: 0 -900px;
}
.mediaAdditionals li.mp3 a {
 background: url(../img/sprites-icons.png) 0 -5400px no-repeat;
 padding: 2px 0 6px 24px;
}
.mediaAdditionals li.rss a {
 background: url(../img/sprites-icons.png) 0 -5600px no-repeat;
 padding: 2px 0 4px 37px;
}
#content .mediathek .text .teaser-switcher .rack .teaser {
 margin-right: 0;
}
