* { 
    margin:0;
    padding:0;
}
.gsb fieldset {
    border: none;
}
/* tables still need 'cellspacing="0"' in the markup */
.gsb table {    
    border-collapse: collapse;
    border-spacing: 0;
}
.gsb hr {
   display: none;
}
/* Pagebreak */
.basepage_pages .pagebreak{
  display:none;
}
